:root {
  --text-color: #333332;
  --main-color: #fe7c31;
}

/* General Info Styling */
.section-gen-info,
.section-schedule {
  width: 100%;
  padding: 20px 0;
}

.section-gen-info .max-width,
.section-schedule .max-width {
  display: flex;
}

.section-gen-info .max-width .coach-pic {
  width: 15%;
  display: inline;
  align-items: center;
  justify-content: space-between;
}

.section-gen-info .max-width .coach-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px outset var(--main-color);
}

.section-gen-info .max-width .coach-pic img:hover {
  transform: scale(1.05);
}

.section-gen-info .max-width .coach-pic .coach-name {
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.section-gen-info .max-width .coach-pic p {
  width: 95%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.section-gen-info .max-width .coach-descp {
  width: 60%;
  display: inline;
  margin-left: 0;
}

.section-gen-info .max-width .coach-descp .selected-sport {
  width: 20%;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin: 10px;
  background: #fafcf7;
  border: 2px solid #fafcf7;
  border-radius: 5px;
  text-align: center;
}

.section-gen-info .max-width .coach-descp p {
  width: 90%;
  padding: 10px;
  text-align: justify;
}

.section-gen-info .max-width .coach-rev {
  width: 20%;
  display: inline;
  float: left;
}

.section-gen-info .max-width .coach-rev .stars {
  color: var(--main-color);
}

.section-gen-info .max-width .coach-rev .coach-sp-sport {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-gen-info .max-width .coach-rev .coach-sp-sport .coach-sport {
  background: #fafcf7;
  border: 1px solid #fafcf7;
  border-radius: 5px;
  color: var(--text-color);
}

/* Schedule Section Styling */

.section-schedule {
  background-color: #f4f4f4;
}
.section-schedule .max-width .calender {
  width: 25%;
  display: inline;
  align-items: center;
  justify-content: space-between;
}

.section-schedule .max-width .calender h2 {
  text-align: center;
}

.section-schedule .max-width .calender iframe {
  margin: auto 20px;
  padding: 10px;
}

.section-schedule .max-width .time-slots {
  width: 40%;
  float: left;
  position: relative;
  bottom: 120px;
}

.section-schedule .max-width .time-slots h2 {
  text-align: center;
}

.section-schedule .max-width .time-slots select {
  padding: 20px;
}

.section-schedule .max-width .buttons {
  width: 20%;
  position: relative;
  bottom: 100px;
}

/* Responsive Styling */
@media (max-width: 1425px) {
  /* .coach-cards {
    display: inline-block;
    justify-content: space-between;
  }

  .coach-cards .max-width .coach-row .coach-profile-col img {
    width: 120px;
    height: 120px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .stars {
    font-size: 15px;
  }

  .coach-cards .filters-calender {
    bottom: 130px;
  } */
}

@media (max-width: 1364px) {
  /* .coach-cards .max-width .coach-row .coach-review-col .stars {
    font-size: 12px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .reviews {
    font-size: 15px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .btn {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 25px;
    margin-top: 8px;
  } */
}

@media (max-width: 1280px) {
  /* .coach-cards .max-width .coach-row .coach-profile-col img {
    width: 100px;
    height: 100px;
  }

  .coach-cards .max-width .coach-row .coach-review-col {
    margin-left: 0;
    padding-left: 0;
  }

  .coach-cards .max-width .coach-row .coach-review-col .reviews {
    font-size: 12px;
  } */
}

@media (max-width: 1098px) {
  /* .coach-cards .max-width .coach-row .coach-description-col {
    width: 57%;
  }

  .coach-cards .max-width .coach-row .coach-review-col {
    width: 18%;
  }

  .coach-cards .filters-calender {
    bottom: 180px;
  } */
}

@media (max-width: 928px) {
  /* .coach-cards .max-width {
    padding-top: 0;
  } */
}

@media (max-width: 888px) {
  /* .coach-cards .filters-calender {
    width: 40%;
    bottom: 230px;
  }

  .coach-cards .coach-columns {
    width: 60%;
  }

  .coach-cards .coach-columns .coach-row {
    width: 88%;
  }

  .coach-cards .coach-columns .coach-row .coach-profile-col {
    width: 30%;
  }

  .coach-cards .coach-columns .coach-row .coach-profile-col img {
    position: relative;
    top: 20px;
    margin-left: 5px;
  }

  .coach-cards .coach-columns .coach-row .coach-profile-col p {
    position: relative;
    top: 20px;
  }

  .coach-cards .coach-columns .coach-row .coach-description-col {
    width: 40%;
  }

  .coach-cards .coach-columns .coach-row .coach-description-col h4 {
    font-size: 20px;
    font-weight: 400;
  }

  .coach-cards .coach-columns .coach-row .coach-description-col p {
    font-size: 12px;
  }

  .coach-cards .coach-columns .coach-row .coach-review-col {
    width: 30%;
  } */
}

@media (max-width: 699px) {
  /*  .coach-cards .filters-calender {
    bottom: 620px;
  }
  .coach-cards .coach-columns .coach-row {
    display: inline-block;
    margin: 5px 30px;
  }

  .coach-cards .coach-columns .coach-row .coach-profile-col img {
    margin-left: 120px;
    margin-right: 90px;
  }

  .coach-cards .coach-columns .coach-row .coach-description-col h4 {
    text-align: center;
  }

  .coach-cards .coach-columns .coach-row .coach-description-col p {
    text-align: center;
    padding: 10px;
  }

  .coach-cards .coach-columns .coach-row .coach-review-col {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .coach-cards .coach-columns .coach-row .coach-review-col .enroll-btn {
    float: right;
    position: relative;
    top: -25px;
  } */
}

@media (max-width: 534px) {
  .btn {
    font-size: 15px;
    padding: 5px 12px;
    margin-top: 5px;
  }
}

@media (max-width: 478px) {
  .max-width {
    margin: 0;
    padding: 0 40px;
  }

  /* .coach-cards .filters-calender {
    bottom: 650px;
  } */
}

@media (max-width: 375px) {
  .max-width {
    padding: 0 25px;
  }
}

@media (max-width: 375px) {
}
