* {
  box-sizing: border-box;
}

:root {
  --text-color: #333332;
  --main-color: #fe7c31;
}

main-section {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: var(--main-color);
}
aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 20px;
}

section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}
h2 {
  text-align: center;
}
.confirm-enrollment {
  background-color: azure;
}

img {
  width: 100%;
  border-radius: 20px;
  box-shadow: black 10px;
}

ul {
  list-style-type: none;
  padding-left: 200px;
  font-size: 20px;
  text-align: center;
}

/* .img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
} */

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
}
