/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1600px;
  padding: 0 80px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

:root {
  --text-color: #333332;
  --main-color: #fe7c31;
}

.btn {
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  padding: 12px 36px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

/* .coach-btn {
  font-size: 17px;
} */

/* home Page Styling*/
.hero-section,
.coach-cards {
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(rgba(4, 4, 4, 0.132), rgba(0, 0, 0, 0.132)),
    url("../images/homePage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: space-between;
}

.hero-section .max-width {
  margin: auto 0 auto 40px;
  display: inline-block;
}

.hero-section .max-width h1 {
  color: #000000;
  font-weight: 500;
  font-size: 70px;
  position: relative;
  top: 170px;
  background: #3b3b3b27;
  padding: 20px;
}

.hero-section .max-width h1 span {
  color: var(--main-color);
}

.hero-section .max-width p {
  color: #fff1e6;
  font-size: 25px;
  margin: 0.4rem 0 1.8rem;
  position: relative;
  top: 170px;
  background: #3b3b3b27;
}

.section-form,
.section-get-started {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  padding: 30px 0;
}

.how-it-works,
.testimonial-section,
.section-form,
.section-get-started {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  padding: 30px 0;
}

.how-it-works h2 {
  text-align: center;
}

.how-it-works .how-it-works-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.how-it-works .how-it-works-content .card {
  width: calc(25% - 20px);
  background: #a1e6ff5a;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  box-shadow: var(--text-color) 5px;
  transition: all 0.3s ease;
}

.how-it-works .how-it-works-content .card:hover {
  background: #a1e6ff;
}

.how-it-works .how-it-works-content .card .box {
  transition: all 0.3s ease;
}

.how-it-works .how-it-works-content .card:hover .box {
  transform: scale(1.05);
}

.how-it-works .how-it-works-content .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  transition: all 0.3s ease;
}

/* Get Started Section Styling */
.section-get-started {
  background: #f4f4f4;
}

.section-get-started .max-width {
  display: flex;
}
.section-get-started h2 {
  text-align: center;
}

.section-get-started .max-width .image-col {
  width: 50%;
  margin: 0;
}

.section-get-started .max-width .image-col img {
  width: 100%;
  border-radius: 20px;
  box-shadow: black 10px;
  padding-top: 10px;
}

.section-get-started .max-width .start-col {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.section-get-started .max-width .start-col .card {
  width: 40%;
  margin: 5%;
  background: #63636322;
  border-radius: 0 20px;
}

.section-get-started .max-width .start-col .card p {
  padding: 15px;
}

.section-get-started .max-width .start-col .card-2 {
  position: relative;
  bottom: 120px;
}

.section-get-started .max-width .start-col .card .btn {
  position: relative;
  top: 50px;
}
.testimonial-section .max-width {
  margin: auto 0 auto 40px;
}

.testimonial-section .max-width .testimonial-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}
.testimonial-section .max-width .testimonial-content .heading-col {
  width: 30%;
  height: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
  background: #002d4f;
  border-radius: 0 0 30px 0;
  margin-left: 80px;
  position: relative;
  bottom: 30px;
}

.testimonial-section .max-width .testimonial-content .heading-col p {
  text-align: center;
  padding: 28%;
}

.testimonial-section .max-width .testimonial-content .heading-col i {
  width: 60px;
  height: 60px;
  background: #9fc1f52c;
  color: #4affc6;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.testimonial-section .max-width .testimonial-content .client-testimonial-col {
  width: 60%;
  background: #ffffff;
  color: var(--text-color);
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  h4 {
  text-align: center;
  position: relative;
  bottom: 70px;
}

.testimonial-section .max-width .testimonial-content .client-testimonial-col p {
  width: 70%;
  margin: 10px 15%;
  text-align: center;
  position: relative;
  bottom: 70px;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  hr {
  text-align: center;
  position: relative;
  bottom: 65px;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 60px;
  margin: 0 47%;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  h5 {
  text-align: center;
  position: relative;
  bottom: 60px;
}

/* Contact Form Styling */
.section-form {
  width: 100%;
  display: inline-block;
  border: 5px solid #ededed;
}

.section-form .max-width h2 {
  text-align: center;
  font-size: ;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* Responsive Styling */
@media (max-width: 1425px) {
}

@media (max-width: 1364px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1098px) {
}

@media (max-width: 928px) {
}

@media (max-width: 500px) {
}
