/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1600px;
  padding: 0 80px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

:root {
  --text-color: #333332;
  --main-color: #fe7c31;
}

.btn {
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  padding: 12px 36px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

/* .coach-btn {
  font-size: 17px;
} */

/* Log In Styling */
.log-in {
  width: 100%;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.log-in .max-width {
  display: flex;
  margin: auto 0 auto 40px;
}

.log-in .max-width .box {
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ededed;
  border-radius: 6px;
  box-shadow: 0 8px 8px 0 var(--text-color);
  margin: 0 15% 5% 15%;
}

.log-in .image-col {
  width: 55%;
  align-content: center;
}

.log-in .image-col img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.log-in .log-in-col {
  width: 45%;
  display: inline-block;
  justify-content: space-between;
}

.log-in .log-in-col h2 {
  width: 85%;
  text-align: center;
  position: relative;
  color: var(--text-color);
  bottom: 10px;
  padding-right: 15%;
}

.log-in .log-in-col form {
  width: 100%;
  display: inline-block;
}

.log-in .log-in-col form .feild {
  width: 100%;
  margin-bottom: 15px;
  font-size: 25px;
}

.log-in .log-in-col form .feild input {
  height: 100%;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.log-in .log-in-col form .button {
  height: 47px;
  width: 150px;
  margin-left: 20%;
}

.log-in .log-in-col form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.log-in .log-in-col form .button button:hover {
  color: var(--main-color);
  background: none;
}

.log-in .log-in-col p {
  padding: 25px 20px;
}

/* home Page Styling*/
.hero-section,
.coach-cards {
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.hero-section {
  min-height: 100vh;
  background: linear-gradient(rgba(4, 4, 4, 0.132), rgba(0, 0, 0, 0.132)),
    url("../images/homePage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: space-between;
}

.hero-section .max-width {
  margin: auto 0 auto 40px;
  display: inline-block;
}

.hero-section .max-width h1 {
  color: #000000;
  font-weight: 500;
  font-size: 70px;
  position: relative;
  top: 170px;
  background: #3b3b3b27;
  padding: 20px;
}

.hero-section .max-width h1 span {
  color: var(--main-color);
}

.hero-section .max-width p {
  color: #fff1e6;
  font-size: 25px;
  margin: 0.4rem 0 1.8rem;
  position: relative;
  top: 170px;
  background: #3b3b3b27;
}

.how-it-works,
.testimonial-section,
.section-form,
.section-get-started {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  padding: 30px 0;
}

.how-it-works h2 {
  text-align: center;
}

.how-it-works .how-it-works-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.how-it-works .how-it-works-content .card {
  width: calc(25% - 20px);
  background: #a1e6ff5a;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  box-shadow: var(--text-color) 5px;
  transition: all 0.3s ease;
}

.how-it-works .how-it-works-content .card:hover {
  background: #a1e6ff;
}

.how-it-works .how-it-works-content .card .box {
  transition: all 0.3s ease;
}

.how-it-works .how-it-works-content .card:hover .box {
  transform: scale(1.05);
}

.how-it-works .how-it-works-content .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  transition: all 0.3s ease;
}

/* Get Started Section Styling */
.section-get-started {
  background: #f4f4f4;
}

.section-get-started .max-width {
  display: flex;
}
.section-get-started h2 {
  text-align: center;
}

.section-get-started .max-width .image-col {
  width: 50%;
  margin: 0;
}

.section-get-started .max-width .image-col img {
  width: 100%;
  border-radius: 20px;
  box-shadow: black 10px;
  padding-top: 10px;
}

.section-get-started .max-width .start-col {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.section-get-started .max-width .start-col .card {
  width: 40%;
  margin: 5%;
  background: #63636322;
  border-radius: 0 20px;
}

.section-get-started .max-width .start-col .card p {
  padding: 15px;
}

.section-get-started .max-width .start-col .card-2 {
  position: relative;
  bottom: 120px;
}

.section-get-started .max-width .start-col .card .btn {
  position: relative;
  top: 50px;
}
.testimonial-section .max-width {
  margin: auto 0 auto 40px;
}

.testimonial-section .max-width .testimonial-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}
.testimonial-section .max-width .testimonial-content .heading-col {
  width: 30%;
  height: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #ffffff;
  background: #002d4f;
  border-radius: 0 0 30px 0;
  margin-left: 80px;
  position: relative;
  bottom: 30px;
}

.testimonial-section .max-width .testimonial-content .heading-col p {
  text-align: center;
  padding: 28%;
}

.testimonial-section .max-width .testimonial-content .heading-col i {
  width: 60px;
  height: 60px;
  background: #9fc1f52c;
  color: #4affc6;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.testimonial-section .max-width .testimonial-content .client-testimonial-col {
  width: 60%;
  background: #ffffff;
  color: var(--text-color);
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  h4 {
  text-align: center;
  position: relative;
  bottom: 70px;
}

.testimonial-section .max-width .testimonial-content .client-testimonial-col p {
  width: 70%;
  margin: 10px 15%;
  text-align: center;
  position: relative;
  bottom: 70px;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  hr {
  text-align: center;
  position: relative;
  bottom: 65px;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 60px;
  margin: 0 47%;
}

.testimonial-section
  .max-width
  .testimonial-content
  .client-testimonial-col
  h5 {
  text-align: center;
  position: relative;
  bottom: 60px;
}

/* Contact Form Styling */
.section-form {
  width: 100%;
  display: inline-block;
  border: 5px solid #ededed;
}

.section-form .max-width h2 {
  text-align: center;
  font-size: ;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* Coach Cards Styling */
.coach-cards {
  display: inline-block;
}

.coach-cards .max-width {
  width: 95%;
  margin: 40px;
  padding: 30px 0;
  display: flex;
}

.coach-cards .filters-calender {
  width: 30%;
  float: left;
  position: static;
  background: #d1d1d1;
  padding: 20px;
}

.coach-cards .filters-calender .location-container {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}

.coach-cards .filters-calender .location-container input {
  width: 70%;
}

.coach-cards .filters-calender .location-container a {
  width: 20%;
  margin: 10px 30px 10px 0;
}

.coach-cards .filters-calender .sport-container {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
}

.coach-cards .filters-calender .sport-container input {
  width: 70%;
}

.coach-cards .filters-calender .sport-container a {
  width: 20%;
  margin: 10px 30px 10px 0;
}

.coach-cards .filters-calender .slidecontainer {
  width: 100%;
  padding: 30px 0;
}

.coach-cards .filters-calender .slidecontainer .slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.coach-cards .filters-calender .slidecontainer .slider:hover {
  opacity: 1;
}

.coach-cards
  .filters-calender
  .slidecontainer
  input[type="range"]::-moz-progress-bar {
  width: 23px;
  height: 24px;
  border: 0;
  background: var(--main-color);
  cursor: pointer;
}

.coach-cards .filters-calender .checkbox-container li {
  list-style: none;
  text-decoration: none;
}

.coach-cards .coach-columns {
  width: 70%;
  display: inline-block;
}

.coach-cards .coach-columns .coach-row {
  display: flex;
  width: 95%;
  justify-content: space-between;
  background: #a9a8bf4d;
  margin: 30px;
}

.coach-cards .coach-row .coach-profile-col {
  width: 15%;
  display: inline;
}

.coach-cards .coach-row .coach-profile-col p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.coach-cards .coach-row .coach-profile-col img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #574efc;
  transition: all 0.3s ease;
}

.coach-cards .coach-row .coach-description-col {
  width: 60%;
  display: inline;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
}

.coach-cards .coach-row .coach-description-col h4 {
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color);
}

.coach-cards .coach-row .coach-review-col {
  width: 15%;
  align-items: center;
  display: inline-block;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
}

.coach-cards .coach-row .coach-review-col .stars {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.coach-cards .coach-row .coach-review-col .stars .bx {
  color: var(--main-color);
}

.enroll-btn {
  position: relative;
  top: 20px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1rem;
  background: #cbcbcb77;
  min-width: 450px;
  padding: 5% 15% 5% 15%;
}

.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 10px;
}

.footer-box span {
  color: var(--main-color);
}

.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
  color: var(--text-color);
}
.social {
  display: flex;
  align-items: center;
}
.social a {
  font-size: 35px;
  margin-right: 10px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--main-color);
}
.footer-box h3 {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--text-color);
}

.footer-box li {
  list-style: none;
}
.footer-box li a {
  color: var(--text-color);
}
.footer-box li a:hover {
  color: var(--main-color);
}

.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-info span {
  color: var(--text-color);
}
.copyright {
  padding: 20px;
  text-align: center;
}

/* Responsive Styling */
@media (max-width: 1425px) {
  .coach-cards {
    display: inline-block;
    justify-content: space-between;
  }

  .coach-cards .max-width .coach-row .coach-profile-col img {
    width: 120px;
    height: 120px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .stars {
    font-size: 15px;
  }
}

@media (max-width: 1364px) {
  .coach-cards .max-width .coach-row .coach-review-col .stars {
    font-size: 12px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .reviews {
    font-size: 15px;
  }

  .coach-cards .max-width .coach-row .coach-review-col .btn {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 25px;
    margin-top: 8px;
  }
}

@media (max-width: 1280px) {
  .coach-cards .max-width .coach-row .coach-profile-col img {
    width: 100px;
    height: 100px;
  }

  .coach-cards .max-width .coach-row .coach-review-col {
    margin-left: 0;
    padding-left: 0;
  }

  .coach-cards .max-width .coach-row .coach-review-col .reviews {
    font-size: 12px;
  }
}

@media (max-width: 1098px) {
  .coach-cards .max-width .coach-row .coach-description-col {
    width: 57%;
  }

  .coach-cards .max-width .coach-row .coach-review-col {
    width: 18%;
  }
}

@media (max-width: 928px) {
}

@media (max-width: 500px) {
}
